<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trydish.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="true" >
        <activity
            android:name="com.trydish.main.LoginHome"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.trydish.find.FindHome"
            android:label="@string/title_activity_home_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.trydish.review.ReviewHome"
            android:label="@string/title_activity_review_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.trydish.main.Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.trydish.main.PostLoginHome"
            android:label="@string/title_activity_post_login_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.trydish.main.SignupHome"
            android:label="@string/title_activity_signup_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.trydish.main.SignupAllergies"
            android:label="@string/title_activity_sign_up_allergies"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>